


<div class="container">
  <div class="row justify-content-center">
      <h1 class="mt-3">List of all registered books</h1>
  </div>
  <div class="row justify-content-center mt-2" (click)="newBook()">
    <button type="button" class="btn btn-primary">
      Add Book
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>
</div>


<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Editorial</th>
      <th scope="col">Register Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th scope="row"> {{ book.id }} </th>
      <td>{{ book.name }}</td>
      <td *ngFor="let author of book.author">{{ author.name }}</td>
      <td>{{ book.editorial }}</td>
      <td>{{ book.registerDate }}</td>
      <td>
        <button type="button" class="btn btn-primary mr-3" (click)="editBook(book.id)">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td> 
    </tr>
  </tbody>
</table>
